.team-user-stat-container {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  width: 280px;
}
.stat-list {
  display: flex;
  flex-direction: column;
}
.stat-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  width: 100%;
  border-bottom: 1px solid var(--gray200);
}
.stat-item:last-child {
  border-bottom: none;
}

.name {
  color: var(--gray600);
}

.count {
  color: var(--primary);
}
